@-webkit-keyframes "loading_rotate"{
	0%{
		-webkit-transform: translateZ(50px) rotateY(0deg);
		-ms-transform: translateZ(50px) rotateY(0deg);
		-o-transform: translateZ(50px) rotateY(0deg);
		transform: translateZ(50px) rotateY(0deg);
	}
	100%{
		-webkit-transform: translateZ(50px) rotateY(360deg);
		-ms-transform: translateZ(50px) rotateY(360deg);
		-o-transform: translateZ(50px) rotateY(360deg);
		transform: translateZ(50px) rotateY(360deg);
	}
}
@keyframes "loading_rotate"{
	0%{
		-webkit-transform: translateZ(50px) rotateY(0deg);
		-ms-transform: translateZ(50px) rotateY(0deg);
		-o-transform: translateZ(50px) rotateY(0deg);
		transform: translateZ(50px) rotateY(0deg);
	}
	100%{
		-webkit-transform: translateZ(50px) rotateY(360deg);
		-ms-transform: translateZ(50px) rotateY(360deg);
		-o-transform: translateZ(50px) rotateY(360deg);
		transform: translateZ(50px) rotateY(360deg);
	}
}
@-webkit-keyframes "game_money_move"{

	0%{
		-webkit-transform: scale(1) translateY(0px);
		-ms-transform: scale(1) translateY(0px);
		-o-transform: scale(1) translateY(0px);
		transform: scale(1) translateY(0px);
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		opacity: 1;
	}
	100%{
		-webkit-transform: scale(0.3) translateY(-1500px);
		-ms-transform: scale(0.3) translateY(-1500px);
		-o-transform: scale(0.3) translateY(-1500px);
		transform: scale(0.3) translateY(-1500px);
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		opacity: 0.3;
	}
}
@keyframes "game_money_move"{

	0%{
		-webkit-transform: scale(1) translateY(0px);
		-ms-transform: scale(1) translateY(0px);
		-o-transform: scale(1) translateY(0px);
		transform: scale(1) translateY(0px);
		opacity: 1;
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
	}
	100%{
		-webkit-transform: scale(0.3) translateY(-1500px);
		-ms-transform: scale(0.3) translateY(-1500px);
		-o-transform: scale(0.3) translateY(-1500px);
		transform: scale(0.3) translateY(-1500px);
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		opacity: 0.3;
	}
}


html,body{
	height: 100%;
}
.wrap{
	height: 100%;
	width: 100%;
	background-image: url(../images/p1_bg.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
#loading{
	position: absolute;
	z-index: 66666;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective:350px;
	background-color: rgba(0,0,0,0.5);
}
#loading>span{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #f56471;
	color: white;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	-webkit-transform: translateZ(50px) rotateY(0deg);
	-ms-transform: translateZ(50px) rotateY(0deg);
	-o-transform: translateZ(50px) rotateY(0deg);
	transform: translateZ(50px) rotateY(0deg);
	-webkit-animation: "loading_rotate" 3s infinite;
	-o-animation: "loading_rotate" 3s infinite;
	animation: "loading_rotate" 3s infinite;
}
.p1_title1{
	position: absolute;
	top:29.137%;
	left: 2%;
	width: 96%;
}
.p1_title2{
	position: absolute;
	top: 12.588%;
	left: 5.3125%;
	width: 89%;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.start_game_btn{
	position: absolute;
	left: 30.3125%;
	bottom: 18.3345%;
	width: 40%;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
img.shou{
	position: absolute;
	left: 57.8125%;
	bottom: 24%;
	width: 15.625%;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}
#user_form{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	display: none;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.form_content{
	width: 74%;
}
.close_wrap{
	overflow: hidden;
}
#form_close{
	float: right;
	width: 8%;

}
.form_box{
	margin-top: 5px;
	width: 100%;
	border:3px solid #e33145;
	border-radius: 8.5px;
	background-color: #ffead1;
	text-align: center;
	box-sizing:border-box;
	padding-top: 9px;
	padding-bottom: 14px;
	font-size: 12px;
}
.form_title{
	width: 96%;
}
.form_title_txt{
	position: relative;
	top: -5px;
}
.form_input{
	width:72.777777%;
	height: 35px;
	line-height: 35px;
	border:2px solid #e33145;
	border-radius: 8px;
	outline: none;
	padding-left: 5%;
	margin-bottom: 10px;
	background-color: #f2bb00;
}
.form_sub{
	background-color: #e33145;
	color: white;
	font-weight: bold;
	padding: 13px 8px;
	border:0;
	border-radius: 8px;
	font-size: 16px;
	outline: none;
	display: inline-block;
}
#game{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/game/game_bg.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	overflow: hidden;
}
.game_txt{
	position: absolute;
	top: 14.96478%;
	left: 14.6875%;
	width: 70%;
}
.time_wrap{
	position: absolute;
	top: 32.5704%;
	z-index: 3;
	width: 100%;
	text-align: center;
}
.time_num{
	font-size: 20px;
	color: white;
	font-weight: bold;
	border:1px solid #a27d53;
	padding: 16px 12px;
	border-radius: 6px;
	margin-right: 9px;
	background: -webkit-gradient(linear,center top,center bottom,from(#c49d70),color-stop(0.5,#c49d70),color-stop(0.55,#ab8354),to(#bd9568));
}
.time{
	background: url(../images/game/game_time.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	font-size: 18px;
	color: #a2794a;
	font-weight: bold;
	padding:14px 14px;
}
.time span{
	position: relative;
	left: -2px;
	top: 4px;
}
.game_money{
	position: absolute;
	left: 19.6875%;
	bottom: -30.6333%;
	width:60%;
}
.game_shou{
	position: absolute;
	right: 6.4%;
	bottom: 16.2518%;
	width: 37.5%;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.game_zhuan{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 3;
}
@-webkit-keyframes qian_move{
	0%{
		opacity: 1;
		-webkit-transform: translate3d(0,0,0) scale(1);
		-ms-transform: translate3d(0,0,0) scale(1);
		-o-transform: translate3d(0,0,0) scale(1);
		transform: translate3d(0,0,0) scale(1);
	}
	100%{
		opacity: 0;
		-webkit-transform: translate3d(0,-500px,0) scale(0.2);
		-ms-transform: translate3d(0,-500px,0) scale(0.2);
		-o-transform: translate3d(0,-500px,0) scale(0.2);
		transform: translate3d(0,-500px,0) scale(0.2);
	}
}
keyframes qian_move{
	0%{
		opacity: 1;
		-webkit-transform: translate3d(0,0,0) scale(1);
		-ms-transform: translate3d(0,0,0) scale(1);
		-o-transform: translate3d(0,0,0) scale(1);
		transform: translate3d(0,0,0) scale(1);
	}
	100%{
		opacity: 0;
		-webkit-transform: translate3d(0,-500px,0) scale(0.2);
		-ms-transform: translate3d(0,-500px,0) scale(0.2);
		-o-transform: translate3d(0,-500px,0) scale(0.2);
		transform: translate3d(0,-500px,0) scale(0.2);
	}
}
img.game_money_move{
	position: absolute;
	left: 19.6875%;
	bottom: -30.6333%;
	width:60%;
	-webkit-animation:qian_move 1s 1;
	-o-animation:qian_move 1s 1;
	animation:qian_move 1s 1;
	z-index: 2;
}








