@font-face {font-family:myFont; src: url("../font/Hum521l.ttf")}
/*html{min-width: 500px}*/
body{
    width:100%;
    height:100%;
    background:    #F2F2F2;
    min-width: 330px;

}
#swiper{
    /*margin-top: ;*/
    width:100%;
}
.swiper-button-prev{
    width:0;
    height:0;
    border-width: 27px 18.5px  27px 0 ;
    border-color: transparent;
    border-right-color: rgba(173,173,173,0.4);
    border-style: solid;
    background:none ;
}
.swiper-button-prev:hover {
    border-right-color: rgba(173,173,173,0.8);

}
#swiper_down{
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    width:100%;
    z-index: 1;
    height: 35px;
}
#swiper_down li{
    position: absolute;
    top: 35px;
    width: 100%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: rgba(255,255,255,0.8);

}
.swiper-button-next{
    width:0;
    height:0;
    border-width: 27px  0 27px 18.5px  ;
    border-color: transparent;
    border-left-color: rgba(173,173,173,0.4);
    border-style: solid;
    background:none ;
}


.swiper-button-next:hover {
    border-left-color: rgba(173,173,173,0.8);

}
@media screen and ( max-width: 460px ) {
    .swiper-button-prev{
        border-width: 15px  10px 15px  0  ;

    }
    .swiper-button-next{
        border-width: 15px  0  15px  10px;
    }
}

#box{
    padding-top: 130px;
    width: 12rem;
    margin: auto;
}
.newAnimate{
    -webkit-animation:animate_1 5s ;
    -o-animation:animate_1 5s ;
    animation:animate_1 5s ;
}
@keyframes    animate_1{
    0%{}
    10%{transform:translate3d(0, -35px ,0)}
    99%{transform:translate3d(0, -35px ,0)}
    100%{}
    
}
@-o-keyframes    animate_1{
    0%{}
    10%{transform:translate3d(0, -35px ,0)}
    99%{transform:translate3d(0, -35px ,0)}
    100%{}
    
}
@-webkit-keyframes  animate_1{
    0%{}
    10%{transform:translate3d(0, -35px ,0)}
    99%{transform:translate3d(0, -35px ,0)}
    100%{}
    
}
@keyframes    animate_2{
    0%{}
    10%{transform:translate3d(0, -25px ,0)}
    99%{transform:translate3d(0, -25px ,0)}
    100%{}

}
@-o-keyframes    animate_2{
    0%{}
    10%{transform:translate3d(0, -25px ,0)}
    99%{transform:translate3d(0, -25px ,0)}
    100%{}

}
@-webkit-keyframes  animate_2{
    0%{}
    10%{transform:translate3d(0, -25px ,0)}
    99%{transform:translate3d(0, -25px ,0)}
    100%{}

}

/*@media screen and (min-width: 1200px){*/
    /*#box{*/
        /*width: 1200px;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 640px)and(max-width: 790px){*/
    /*#box{*/
        /*width: 640px;*/

    /*}*/
/*}*/

/*@media screen and(max-width: 630px){*/
    /*#box{*/
        /*width: 96%;*/

    /*}*/
/*}*/


.swiper-container{
    width:100%;
    height:6.75rem;
    /*overflow: n;*/
}
.swiper-wrapper{

}
.swiper-slide {
    /*width:12rem;*/
}
.swiper-slide a{
    display: inline-block;
    overflow: hidden;
    width:100%;
    height:6.75rem;

}
.swiper-slide img{
    width:100%;
}
#swiper-pagination1{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:0.9rem;
    min-width: 50px;
    left:0;
    right:0;
    margin:0.15rem auto 0.35rem;

}
.swiper-pagination-bullet{
    background: grey;
    opacity: 1;
    border: 1px solid white;
    border-radius: 50%;

}
.swiper-pagination-bullet-active{
    background: transparent;
    border: 1px solid gray;
}
#comppny{
    width:100%;
    height: 45px;
    margin: 24px 0;
    height: 63px;
    text-align: center;
}
#comppny span{
    display: inline-block;
    /*width: 80px;*/
}
#comppny img{
    width: 60px;
    min-width: 38px;
    margin:0 10px;


}
#main   {
    width:100%;
    /*border:1px solid black;*/
    overflow: hidden;

}
#main a:nth-of-type(3n+2){
    margin-left: 3.5%;
    margin-right: 3.5%;
}
#main a{
    position: relative;
    font-size: 10px;
    float: left;
    width:31%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:rgb(227, 227, 227) 2px 2px 2px 0px ;
    margin-bottom:4%;
}
.meng{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.4);
    text-align: center;
    color: white;
    opacity: 0;
    transition: all 0.5s;
}
.meng:hover{
    opacity: 1;
}
.textBox{
    display: inline-block;
    font-size:16px ;
    opacity: 1;
}
.textBox div:nth-of-type(1){
    font-size:2em ;
}
.textBox div:nth-of-type(2){
    font-size:1em ;
}


figcaption{
    font-size: 0.4em;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 35px;
    height:35px;
    width:100%;


}

.mainImg{
    position: relative;
    width:100%;
}
.mainImg img{
    width:100%;
}
#nav{
    position: relative;
    font-size: 16px;
    padding: 15px 0 10px;
    width:100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    top: 0;
    text-align: center;
    background: rgba(0,0,0,0.9);
}
#nav img{

    opacity: 0.9;
    width: 136px;
    height: 44px;
}
.home{
    position: absolute;
    bottom: 10px ;
    width:100%;
    text-align: center;
}
.home a{
    color: rgba(137,137,137,1);
    margin: 0 5% ;
    font-size: 0.9em;
    font-family: 'myFont';
}

.home a:hover{
    color: white;
}
@media screen and ( max-width:630px ){
    .home a{
        color: rgba(137,137,137,1);
        font-size: 0.8em;
    }
}


#textBar{
    font-size: 21px;
}

#textBar p{
    margin-top: 30px;
text-indent: 2em;
padding-top: 2%;
padding-bottom: 2%;
font-size: 0.9em;
line-height: 1.5em;
color: rgb(102, 102, 102);
font-family: STKaiti, 微软雅黑;
border-top: 1px solid rgb(232, 232, 232);
border-bottom: 1px solid rgb(232, 232, 232);}


/*页尾巴*/
.footer{
    background: #e0e0e0;
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px white;
    color: #666666;
    overflow: hidden;
}
.footer_left{
    vertical-align: top;
    float: left;
    width: 49%;
    height:100%;
    display: inline-block;
}
.footer_left img{
    width: 30px;
}
.linkImg{
    float: right;
}
.info{
    float: left;

}
.footer_right{
    float: right;
    width: 49%;
    display: inline-block;
    border-left: 1px solid #bcbcbc;
    padding-left: 1.9%;

}
.footer_right img{
    width: 143px;
}


@media screen and (max-width: 620px){
    #nav{
        height:75px ;
        padding:5px 0 0px;
    }
    #nav img{
        width: 110px;
        height: 32px;
    }
    .home{
        bottom: 5px;
    }
    #box{
        padding-top: 90px;
    }
    #swiper_down{
        height: 25px;
    }
    #swiper_down li{
        top: 25px;
        font-size: 13.75px;
        line-height:25px;
    }
    .newAnimate{
        -webkit-animation:animate_2 5s ;
        -o-animation:animate_2 5s ;
        animation:animate_2 5s ;
    }
    .footer_right{
        padding-left: 10px;
    }
    .footer_right img{
        width: 120px;
    }
}
@media screen and (min-width: 480px) and (max-width:600px){
    .textBox div:nth-of-type(1){
        font-size:16px ;
    }
    .textBox div:nth-of-type(2){
        font-size:8px ;
    }

}
@media screen and (max-width: 480px){
    .footer_right{
        padding-left: 2px;
    }
    #main a{
        width:48%;
        margin-bottom:4%;
    }
    #main a:nth-of-type(3n+2){
        margin-left: 0;
        margin-right: 0%;
    }
    #main a:nth-of-type(2n+1){
        margin-right: 4%;
    }
}
@media screen and ( max-width: 1200px){
    #comppny img {
        width:60%;
        margin:0 10px;
        min-width: 38px;
    }
    #textBar{
    font-size: 16px;}
    #comppny span{
        width: 60px;

    }
/*#box{*/
/*width: 78%;*/
/*}*/
}